:root {
    --main: #263238;
    --slate: #546E7A;
    --dark-slate: #37474F;
    --white: #ffffff;
    --expense: #FF5722;
    --income: #4CAF50;
    --light-blue: #81D4FA;
    --btn-primary: #42A5F5;
    --btn-danger: #FF5722;
    --white-98: #fafafa;
    --white-94: #efefef;
    --white-90: #E6E6E6;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}
/* flex utils */
.flex {
    display: flex;
}
.flex-fdc {
    flex-direction: column;
}
.flex-jcc {
    justify-content: center;
}
.flex-jce {
    justify-content: flex-end;
}
.flex-aic {
    align-items: center;
}
.flex-aife {
    align-items: flex-end;
}
.flex-aifs {
    align-items: flex-start;
}
.flex-fww {
    flex-wrap: wrap;
}
.col {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100%;
}
.col-100 {
    flex: 1 0 100%;
}
.col-75 {
    flex: 0 0 75%;
}
.col-50 {
    flex: 0 0 50%;
}
.h-100 {
    height: 100%;
}
.btn {
    border: none;
    background-color: #333;
    color: white;
}

/* app */
.ba.debug * {
    /* outline: 1px solid rgba(255, 152, 0, 0.25);; */
}

.ba {
    /* margin: 0 auto; */
}
.ba__top {
    height: 370px;
    max-height: 370px;
    background-color: var(--main);
    color: var(--white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}
.ba__top header {
    color: var(--slate);
}
.ba__top__summary {
    font-size: 1.5em;
    font-weight: 400;
}
.ba__top__summary__income__text {
    border-bottom: 1px solid var(--dark-slate);
    padding-bottom: 0.25em;
}
.ba__top__summary__expense__text {
    padding-top: 0.25em;
}
.ba__top__summary__income__text_value{
    color: var(--income);
}
.ba__top__summary__expense__text_value{
    color: var(--expense);
}
.ba__top__summary__income__text_title,
.ba__top__summary__expense__text_title {
    text-transform: uppercase;
    color: var(--slate);
    font-weight: 300;
}
.btn--add {
    background-color: var(--btn-primary);
    color: var(--white);
}
.col--percentage {
    max-width: 3.5em;
    min-width: 2.0em;
    display: flex;
    justify-content: center;
}


.ba__top__header {
    flex: 0 0 40px;
}
.ba__top__header_text {
    padding: 0 1em;
}
.ba__top__header_title {
    padding-left: 0.5em;
}
.ba__top__header_date {
    padding-right: 0.5em;
}


.ba__top__total {
    flex: 0 0 135px;
}
.ba__top__total_text {
    font-weight: 700;
    font-size: 3em;
}


.ba__top__summary {
    flex: 0 0 65px;
}


.ba__top__form {
    flex: 0 0 90px;
}
.ba__top__form input {
    border-radius: 0;
    border: 1px solid var(--main);
}
.ba__top__form_wrap {
    height: 50px;
    /* max-width: 520px; */
}
.ba__top__form_type {
    /* width: 100%; */
}
.ba__top__form_description {
    /* width: 100%; */
    /* min-width: 350px; */
}
.ba__top__form_amount {
    /* width: 100%; */
    /* max-width: 75px; */
}
.ba__top__form_submit {
    width: 100%;
}
/* tabs */
.tabs {
    height: 40px;
    max-height: 40px;
    background-color: white;
    cursor: pointer;
}
.tabs_tab {
    border-bottom: 1px solid var(--btn-primary);
    color: var(--slate);
    font-weight: 300;
    text-transform: uppercase;
}
.tabs_tab.active {
    border-bottom: 3px solid var(--btn-primary);
}
.tabs_tab:hover {
    background-color: var(--white-98);
    font-weight: 400;
}

/* bottom */
.ba__bottom {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* height: calc(100% - 370px); */
    background-color: var(--white-98);
}

/* list item  */
.list__item {
    padding: 0.75em;
    overflow: hidden;
    cursor: pointer;
    font-weight: 400;
    background-color: var(--white-94);
    outline: 1px solid var(--white-98);
}
.list__item .col--description {
    font-weight: 300;
}
.list__item .col--actions {
    flex: 0 0 0;
    transition: 150ms;
}
.list__item .col--actions .action {
    width: 0;
    opacity: 0;
    transform: translateX(+30px);
    transition: 150ms;
}
.list__item:hover .col--actions {
    flex: 0 0 12.5%;
    min-width: 3em;
}
.list__item:hover .col--actions .action {
    width: auto;
    opacity: 1;
    transform: translateX(0);
}
.col--info {
    flex-shrink: 1;
}
.col--amount {
    padding-right: 0.5em;
}
.list--income .col--amount {
    color: var(--income);
}
.list--income .col--percentage {
    color: var(--white);
    background-color: var(--income);
    flex: 0 0 auto;
    padding: 0 0.125em;
}
.list--expense .col--amount {
    color: var(--expense);
}
.list--expense .col--percentage {
    color: var(--white);
    background-color: var(--expense);
    flex: 0 0 auto;
    padding: 0 0.125em;
}

.ba__bottom--income .list--expense {
    display: none;
}
.ba__bottom--expense .list--income {
    display: none;
}

.ba__bottom--both .list--income,
.ba__bottom--both .list--expense {
    max-width: 50%;
}
.list--income .col--info,
.list--expense .col--info {
    flex-wrap: wrap;
}
.ba__bottom--both .list--income .col--info .col--description,
.ba__bottom--both .list--expense .col--info .col--description {
    flex: 0 0 100%;
    justify-content: flex-end;
}



@media only screen and (max-width: 560px) {
    .ba__top__form_wrap {
        height: 50px;
        max-width: 325px;
    }
    .ba__top__form_description {
        min-width: 75px;
        max-width: 175px;
    }
    .ba__top__form_amount {
        max-width: 75px;
    }

}